/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

*::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(0, 0, 0, 0.75);

}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  outline: 10px solid #80808080;
}

html {
  scroll-behavior: smooth;
  font-size: calc(0.75rem + 0.25vw);
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.card:hover {
  transform: scale(1.05);
}

.navbar-nav li:last-child {
  border-left: rgba($color: #ffffff, $alpha: 0.1) 1px solid;
  padding-left: 5em;
  margin-left: 2.5em;
  color:red;
}

.nav-link:hover {
  padding: 1.1em;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
}

.amigos-logo:hover {
  transform: scale(1.25);
}

table {
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  border: rgba($color: #000000, $alpha: 0.1) 0.1px solid ;
}

table th {
  background-color: rgba($color: #ffffff, $alpha: 0.25);
}

table td {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}

// .description-ellipsis {
//   display: inline-block;
//   width: 100%;
//   white-space: nowrap;
//   overflow: hidden !important;
//   text-overflow: ellipsis;
// }
